@font-face {
  font-family: "Young Serif";
  font-weight: 400;
  src: local("YoungSerif-Regular"),
    url("/assets/fonts/YoungSerif-Regular.woff2");
}

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/Outfit-VariableFont_wght.woff2");
}

/* ------------------- CSS Reset ------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ------------------- CSS Variables ------------------- */
:root {
  --ff-heading: "Young Serif", serif;
  --ff-body: "Outfit", sans-serif;

  --fs-heading-l: 2.25rem;
  --fs-heading-m: 1.75rem;
  --fs-heading-s: 1.25rem;
  --fs-body: 1rem;

  --clr-white: hsl(0, 0%, 100%);
  --clr-snow: hsl(330, 100%, 98%);
  --clr-white-coffee: hsl(30, 18%, 87%);
  --clr-eggshell: hsl(30, 54%, 90%);
  --clr-dark-charcoal: hsl(30, 5%, 18%);

  --clr-wenge-brown: hsl(30, 10%, 34%);
  --clr-brandy-red: hsl(14, 45%, 36%);
  --clr-dark-raspberry: hsl(332, 51%, 32%);
}

/* ------------------- Utility Classes ------------------- */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading-l {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading-l);
  font-weight: 400;
  line-height: 1;
  color: var(--clr-dark-charcoal);
}

.heading-m {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading-m);
  font-weight: 400;
  line-height: 1;
  color: var(--clr-brandy-red);
}

.heading-s {
  font-size: var(--fs-heading-s);
  font-weight: 600;
  line-height: 1;
  color: var(--clr-dark-raspberry);
}
/* ------------------- End of Utility Classes ------------------- */

body {
  min-height: 100dvh;
  align-items: center;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: 400;
  line-height: 1.5;
  color: var(--clr-wenge-brown);
  background-color: var(--clr-eggshell);
}

.main {
  background-color: white;
}

strong {
  font-weight: 700;
}

hr {
  border: none;
  border: 1px solid var(--clr-white-coffee);
}

.wrapper-outside {
  max-width: 46rem;
}

.wrapper-inside {
  gap: 2rem;
  padding: 2.5rem 2rem;
}

.wrapper-title {
  gap: 1.5rem;
}

.wrapper-prep {
  gap: 1rem;
  background-color: var(--clr-snow);
  border-radius: 12px;
  padding: 1.5rem;
}

.prep-list {
  gap: 0.5rem;
  padding-inline-start: 1.5rem;
}

.prep-list > li {
  padding-inline-start: 1rem;
}

.prep-list > li::marker {
  color: var(--clr-dark-raspberry);
}

.wrapper-ingredients {
  gap: 1.5rem;
}

.ingredients-list {
  gap: 0.5rem;
  padding-inline-start: 1.5rem;
}

.ingredients-list > li {
  padding-inline-start: 1rem;
}

.ingredients-list > li::marker {
  color: var(--clr-brandy-red);
}

.wrapper-instructions {
  gap: 1.5rem;
}

.instructions-list {
  gap: 0.5rem;
  padding-inline-start: 1.5rem;
}

.instructions-list > li {
  padding-inline-start: 1rem;
}

.instructions-list > li::marker {
  font-weight: 700;
  color: var(--clr-brandy-red);
}

.wrapper-nutrition {
  gap: 1.5rem;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid var(--clr-white-coffee);
}

tr:last-of-type {
  border-bottom: none;
}

th,
td {
  width: 50%;
  text-align: start;
  padding: 0.75rem 2rem;
}

th {
  font-weight: 400;
}

td {
  font-weight: 700;
  color: var(--clr-brandy-red);
}

tr:first-child th,
tr:first-child td {
  padding-top: 0;
}

tr:last-child th,
tr:last-child td {
  padding-bottom: 0;
}

/* ------------------- Media Queries ------------------- */
@media (min-width: 46rem) {
  :root {
    --fs-heading-l: 2.5rem;
  }

  body {
    padding: 7.75rem 1.5rem;
  }

  .main {
    border-radius: 24px;
  }

  .hero-img {
    border-radius: 12px;
  }

  .wrapper-outside {
    gap: 2.5rem;
    padding: 2.5rem;
  }

  .wrapper-inside {
    padding: 0;
  }
}
